.container {
  /* 
   * Wir verwenden den container hier, damit wir die breite des Elements
   * messen können. Sobald nicht mehr genügend Platz ist, müssen gewisse Dinge
   * angepasst werden. 
   */
  container-type: inline-size;
  grid-area: header;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-bottom: 2px solid var(--color-fg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;

    @container (width < 450px) {
      & {
        padding-inline: 1rem;
        padding-block: 0.5rem;
      }
      @container (width < 330px) {
        & {
          padding-inline: 0;
        }
      }
    }

    h1 {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      font-family: "Georgia", serif;
      letter-spacing: 0.15em;
      color: var(--color-yellow);
      flex-grow: 1; /* Damit der Text zentriert bleibt. */
      flex-shrink: 0; /* Damit alles auf einer Zeile bleibt. */

      @container (width < 400px) {
        & {
          letter-spacing: unset;
        }
      }

      @container (width < 300px) {
        font-size: 1.2rem;
      }

      & > a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
