.sidenav {
  grid-area: navbar;
  border-right: 1px solid var(--color-fg);
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}

/* Muss das behalten, sonst kollabiert mein main. Weiss leider nicht weshalb. */
.sidenav:not(.show) {
  display: none;
}

.navList {
  h2 {
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  section {
    margin: 0;
    background-color: hsl(from var(--color-bg) h s calc(l + 3));
  }

  section:nth-child(even) {
    background-color: var(--color-bg);
  }

  a {
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-yellow);
    padding: 5px 0;
  }

  li:hover > a {
    text-decoration: underline;
  }

  .nav {
    list-style: none;
  }

  .nav > li {
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--color-gray);
    padding-block: 1.5rem;
    padding-left: 20px;
    color: var(--color-yellow);
  }
}

ol.nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
