.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: var(--radius-full);
  margin-left: auto;
  flex-shrink: 0;
  opacity: 0.7;
}

.red {
  background-color: var(--color-red);
}

.yellow {
  background-color: var(--color-yellow);
}

.green {
  background-color: var(--color-green);
}
