.gridContainer {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 1em;
    overflow: hidden;
}

.controlls {
    display: flex;
    flex-direction: column;
}

div:has( > .boxContainer) {
    width: fit-content;
}

.boxContainer {
    width: 100%;
    background-color: rgb(200, 200, 200, 0.7);
    flex-grow: 0;
}

.box {
    background-clip: content-box;
}

