.wrapper {
    container-type: inline-size;
}


.gridContainer {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 1em;
    overflow: hidden;
    grid-template-areas:
        "controlls html"
        "css iframe";
}

.controlls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div:has( > .boxContainer) {
    width: fit-content;
}

.boxContainer {
    width: 100%;
    background-color: rgb(200, 200, 200, 0.7);
    flex-grow: 0;
}

.box {
    background-clip: content-box;
}

.formControll {
    display: grid;
    grid-template-columns: 200px 1fr;
}

@container (width < 600px) {
    .gridContainer {
        grid-template-areas: 
            "controlls"
            "css"
            "html"
            "iframe";
        grid-template-columns: 1fr;
    }
}
