.codePenWrapper {
  display: flex;
}

.pane {
  flex-grow: 1;
}

.paneLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Use an editor wrapper for this one. */
.paneLeft > * {
  margin: 0;
}

.outputPane {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mark {
  background-color: yellow;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
