.figureContainer {
    display: grid;
    grid-template-areas: "stack";
    align-items: end;
    overflow: hidden;
}


.figureContainer > img {
    max-width: 100%;
    grid-area: stack;
}

.figureContainer > figcaption {
    grid-area: stack;
    background-color: rgba(0, 0, 0, 0.5);
    height: wrap-content;
    text-align: center;
    padding: 0.5rem;
}

.figureContainer > div {
    grid-area: stack;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.figureContainer:hover > div {
    transform: translateY(0);
}
