aside.sidenav {
  grid-area: navbar;
  border-right: 1px solid var(--color-fg);
  height: 100%;
  position: sticky;
  align-self: start;
  top: calc(var(--header-height) + 1rem);
  overflow-y: scroll;
  margin: 0;
  background-color: var(--color-bg);
  z-index: 1000;
  display: none;
}

@media (width < 820px) {
  aside.sidenav {
    position: fixed;
    z-index: 10;
    background-color: var(--color-bg);
    width: 320px;
    display: none;
  }
  aside.sidenav.show {
    display: block;
  }
}
