#presentation {
  grid-column: full-width;
  display: flex !important;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  anchor-name: --presentation;
}

#presentation.fullScreen {
  min-height: 100vh;
}

#presentation::-webkit-scrollbar {
  display: none;
}

.scrollButton {
  display: block !important;
  position: fixed;
  z-index: 5;
  width: 60px;
  height: 60px;
  border: none;
  background-color: hsl(from var(--color-bg) h s calc(l - 5));
  border-radius: 50%;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  position-anchor: --presentation;
}

.rightButton {
  position-area: right center;
  translate: -125%;
}

.leftButton {
  position-area: left center;
  translate: 125%;
}

.slide {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 0 0 100%;
  padding-inline: 5rem;
  background-color: hsl(from var(--color-bg) h s calc(l + 5));
}

.slideContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide > h2 {
  text-align: center;
}

.narrow {
  width: 80%;
  margin-inline: auto;
}
