.presentation {
  grid-column: full-width !important;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 94px);
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: start;
  min-height: 100%;
  padding-inline: 5rem;
}

.slideContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.slide > h2 {
  text-align: center;
}

.slide:nth-child(2n-1) {
  background-color: hsl(from var(--color-bg) h s calc(l + 5));
}

.narrow {
  width: 80%;
  margin-inline: auto;
}
