.codeBlock {
  /* FIXME: Bricht das Layout, brauche eine andere Berechnung. Schaue die
    * media-queries an. */
  max-width: min(540px, calc(100vw - 42px));
  margin-inline: auto;
}

.codeBlock > pre {
  overflow-x: auto;
}
