:root {
  --color-bg: #282828;
  --color-fg: #ebdbb2;
  --color-red: #fb4934;
  --color-green: #b8bb26;
  --color-yellow: #fabd2f;
  --color-blue: #83a598;
  --color-purple: #d3869b;
  --color-aqua: #8ec07c;
  --color-gray: #928374;
  --color-gray-light: #d3d3d3;
  --color-gray-darker: #2a2a2a;
  --color-rgb-61-61-61: rgb(61, 61, 61);
  --color-gray-medium-dark: #1e1e1e;

  --color-orange: #fe8019;
  --color-white: #ffffff;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 80px;
  --footer-height: 60px;
}

::-webkit-scrollbar {
  width: clamp(5px, 0.5em, 10px);
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Add scroll-margin-top to headings to offset fixed header */
h1,
h2,
h3,
h4,
h5,
h6,
[id] {
  scroll-margin-top: var(--header-height);
}

body {
  margin: 0;
  width: 100%;
  text-align: justify;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  inset: 0;
  background-color: var(--color-bg);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Georgia", serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-fg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.icon {
  position: absolute;
  left: 1rem;
}

h1 {
  margin: 0 20px;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Georgia", serif;
  letter-spacing: 0.15em;
  color: var(--color-yellow);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-yellow);
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  border-top: 0.5px solid var(--color-gray);
}

.sidenav:not(.show) {
  display: none;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 > .back {
  font-size: 12pt;
}

h1 {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

ol.nav a {
  text-decoration: none;
  color: var(--color-fg);
  padding: 5px 0;
}

ol.nav > li {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  color: var(--color-yellow);
}

ol.nav > li > a {
  color: var(--color-yellow);
}

ol.nav li:hover > a {
  text-decoration: underline;
}

ol.nav > li {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

ol.nav * {
  font-weight: normal;
  font-size: 1rem;
}

ol.nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: var(--color-blue);
  color: var(--color-fg);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--color-purple);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.right::before {
  content: "";
}

.hint {
  width: 90%;
  margin: 0.5rem auto;
  font-size: 0.9rem;
  font-family: monospace;
  background-color: var(--color-red);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-red);
}

.icon {
  display: block;
  width: 30px;
}

.icon svg {
  width: 100%;
  stroke: var(--color-fg);
}

main {
  grid-area: main;
}

section ol {
  margin-left: 0px; /* Fügt einen linken Rand hinzu */
  list-style-type: none; /* Entfernt die Standardnummerierung */
  counter-reset: list-counter; /* Initialisiert den Zähler */

  & > li {
    padding-left: 1rem;
    position: relative;
  }

  & > li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    position: absolute;
    left: -1.5rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-bg);
    color: var(--color-fg);
    text-align: center;
    font-weight: bold; /* Fettgedruckte Nummerierung */
    border: 2px solid var(--color-fg);
  }
}

.pw-table {
  width: 100%;
  border: 2px solid var(--color-gray-light); /* Hellgrauer Rand */
  border-collapse: collapse; /* Keine Ränder zwischen den Zellen */
}

.pw-table th,
.pw-table td {
  padding: 0.25rem;
  text-align: center; /* Zentrierte Zahlen */
}

.pw-table tr:nth-child(even) {
  background-color: var(
    --color-gray-darker
  ); /* Leicht helleres Grau für jede zweite Zeile */
}

.rainbow-table {
  width: 100%;
  border: 2px solid var(--color-gray-light); /* Hellgrauer Rand */
  border-radius: 0.5rem; /* Abgerundete Ecken */
  border-collapse: collapse; /* Keine Ränder zwischen den Zellen */
}

.rainbow-table th {
  text-align: center; /* Zentrierter Text */
  font-weight: bold; /* Fettgedruckter Text */
  padding: 0.5rem; /* Mehr Padding */
  background-color: var(--color-rgb-61-61-61); /* Heller Hintergrund */
}

.rainbow-table td {
  padding: 0.5rem; /* Mehr Padding */
  font-family: monospace; /* Monospace Schriftart für Hashes */
}

.rainbow-table tr:nth-child(2n-1) {
  background-color: var(
    --color-gray-medium-dark
  ); /* Leicht dunklerer Hintergrund für jede zweite Zeile */
}

.active-school {
  text-decoration: underline;
}

.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] 50px [breakout-start] 50px [content-start] 1fr [content-end] 50px [breakout-end] 50px [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.breakout {
  grid-column: breakout;
}

.full-width {
  grid-column: full-width;
}

.full-height {
  min-height: calc(100vh - 80px);
}

@media (max-width: 819px) {
  .content-grid {
    grid-template-columns: [full-width-start] 20px [breakout-start] 1px [content-start] 1fr [content-end] 1px [breakout-end] 20px [full-width-end];
  }
}
