:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  fg-color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 60px;
  --footer-height: 60px;
}

pre {
  overflow-x: scroll;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  text-align: justify;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  inset: 0;
  background-color: #242424;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.502);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "navbar main"
    "navbar footer";
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 > .back {
  font-size: 12pt;
}

h1 {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

ol.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 0;
}

ol.nav li:hover > a {
  text-decoration: underline;
}

ol.nav > li {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.502);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

ol.nav * {
  font-weight: normal;
  font-size: 1rem;
}

ol.nav {
  width: 100%;
  margin: 10px auto;
  list-style: none;
}

.btn {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(83, 123, 199);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.right::before {
  content: "";
}

.hint {
  width: 90%;
  margin: 0.5rem auto;
  font-size: 0.9rem;
  font-family: monospace;
  background-color: rgba(196, 86, 66, 0.685);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid red;
}

.icon {
  display: block;
  width: 30px;
}

.icon svg {
  width: 100%;
  stroke: white;
}

aside {
  grid-area: navbar;
  border-right: 1px solid rgba(255, 255, 255, 0.87);
  height: calc(100vh - var(--header-height));
  position: sticky;
  align-self: start;
  top: var(--header-height);
  overflow-y: scroll;
  margin: 0;
}

main {
  grid-area: main;
  width: 100%;
  overflow-x: hidden;
}

section ol {
  margin-left: 0px; /* Fügt einen linken Rand hinzu */
  list-style-type: none; /* Entfernt die Standardnummerierung */
  counter-reset: list-counter; /* Initialisiert den Zähler */

  & > li {
    padding-left: 1rem;
    position: relative;
  }

  & > li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    position: absolute;
    left: -1.5rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    background-color: #242424;
    color: white;
    text-align: center;
    font-weight: bold; /* Fettgedruckte Nummerierung */
    border: 2px solid white;
  }
}

@media (max-width: 840px) {
  #root {
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    z-index: 10;
    background-color: #242424;
    width: 320px;
    display: none;
  }
  .show {
    display: block;
  }
}
